.navbar-item {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 15px !important;
  font-weight: 600;
}

.navbar-start {
  margin-left: 10rem;
}

.navbar-item img {
  max-height: 5.78rem !important;
}

.navbar-start {
  margin-left: 2rem !important;
}

.cart-item {
  font-size: 14px;
  color: '#000';
  font-family: 'Open Sans', sans-serif !important;
}

.disabledCursor {
  cursor: default;
  color: rgb(97, 97, 97);
}

.text-styles {
  font-size: 15px;
  font-weight: 700;
  font-family: 'Gotham', Arial, sans-serif;
}

.edited {
  letter-spacing: 0 !important;
}

.remove-border {
  border: 0 !important;
}

.round {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}

.navbar-brand {
  justify-content: space-between !important;
  align-items: center !important;
  background-color: white !important;
}

.center-column {
  justify-content: center !important;
  align-items: center !important;
}

@media screen and (max-width: 1024px) {
  .new-navbar {
    background-color: transparent !important;
    border: 0px;
  }
  .title-sub {
    padding-right: 1rem;
    width: 100%;
  }
}

.navbar-is-mobile {
  display: block;
  height: 100%;
  width: 323px;
  opacity: 0.9;
}

.is-mobile-new {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
  text-align: center;
}

.title-sub {
  width: 80%;
  color: #fff;
  text-align: left;
}
