.flex-cont {
  margin-top: 8rem !important;
  background-color: rgb(245, 237, 237) !important;
}

.content-p-tag {
  font-size: 1.2rem !important;
  font-family: 'Open Sans', sans-serif;
  color: rgb(59, 56, 56);
  font-weight: 600;
}

@media only screen and (min-width: 321px) and (max-width: 538px) {
  .content-p-tag {
    font-size: 1.1rem;
    text-align: center;
    padding: 10px;
  }
  .s {
    width: 100%;
  }
}

.t {
  font-size: 1.7rem !important;
}

.is-mobile-new {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
  text-align: center;
}
