.navbar-item {
  font-family: 'Comfortaa', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-start {
  margin-left: 10rem;
}

.navbar-item img {
  max-height: 5.78rem !important;
}

.navbar-start {
  margin-left: 2rem !important;
}
